.matrixContainer {
  min-width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: row;
}

.homeHeader {
  border: green solid 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  width: 12vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Atkins Hyperlegible', sans-serif;
  font-size: 20px;
}

.homeBody {
  display: flex;
  align-items: center;
  justify-content: center;
  border: green solid 2px;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  height: 60vh;
  width: 36vw;
  padding: 2%;
}

.bodyText {
  border: red solid 2px;
  height: 100%;
  font-family: 'Atkins Hyperlegible', sans-serif;
  font-size: 25px;
  padding: 2%;
}

.aboutHeader {
  border: red solid 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  width: 12vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Atkins Hyperlegible', sans-serif;
  font-size: 20px;
}

.aboutBody {
  align-items: center;
  justify-content: center;
  border: red solid 2px;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  height: 60vh;
  width: 36vw;
  padding: 2%;
}

.aboutImage {
  float: left;
  margin: 2%;
}

.contactHeader {
  border: blue solid 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  width: 12vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Atkins Hyperlegible', sans-serif;
  font-size: 20px;
}

.contactBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: blue solid 2px;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  height: 60vh;
  width: 36vw;
  padding: 2%;
}

.tabBody {
  background-color: rgb(152, 152, 152);
}

.tabHeader {
  background-color: rgb(152, 152, 152);
}