.matrixContainer {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 36vw;
}

.tabHeader {
  border: #EDF4ED solid 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  color: #EDF4ED;
  height: 7vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Atkins Hyperlegible', sans-serif;
  /* font-size: 20px; */
}

.tabHeader:hover {
  cursor: pointer;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #20A39E;
}

.homeHeader {
  border-right: #EDF4ED solid 1px;
}

.homeTextWithMargin {
  margin-bottom: 10px;
}

.aboutHeader {
  border-left: #EDF4ED solid 1px;
  border-right: #EDF4ED solid 1px;
}

.aboutBody {
  background-color: #EF5B5B;
}

.aboutImage {
  float: left;
  margin-right: 2%;
  margin-left: 1.5%;
  margin-top: 3%;
  border: #EDF4ED solid 2px;
}

.contactHeader {
  border-left: #EDF4ED solid 1px;
  border-right: #EDF4ED solid 1px;
}

.contactBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F78735;
}

.contactBodyText {
  /* font-size: 30px !important; */
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactText {
  text-align: center;
  margin-bottom: 10px;
}

.projectsHeader {
  border-left: #EDF4ED solid 1px;
}

.projectsBody {
  background-color: #FFB30F;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll !important; */
}

.projectsHeading {
  font-family: 'Atkins Hyperlegible', sans-serif;
  text-align: center;
}

.logosContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projectsImageContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  gap: 5%;
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}

.bodyText {
  font-family: 'Atkins Hyperlegible', sans-serif;
  /* font-size: 22px; */
  padding: 2%;
  max-height: 50vh;
}

.tabBody {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #EDF4ED solid 2px;
  border-top: transparent;
  border-radius: 0px 10px 10px 10px;
  color: #EDF4ED;
  height: 60vh;
  width: 36vw;
  padding: 2%;
}