.matrixContainer {
  min-width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 36vw;
}

.tabHeader {
  height: 7vh;
  width: 8vw;
}

.homeHeader {
  border: black solid 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Atkins Hyperlegible', sans-serif;
  font-size: 20px;
}

.homeBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutHeader {
  border: black solid 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Atkins Hyperlegible', sans-serif;
  font-size: 20px;
}

.aboutImage {
  float: left;
  margin: 2%;
  border: black solid 2px;
}

.contactHeader {
  border: black solid 2px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Atkins Hyperlegible', sans-serif;
  font-size: 20px;
}

.contactBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bodyText {
  font-family: 'Atkins Hyperlegible', sans-serif;
  font-size: 25px;
  padding: 2%;
}

.tabBody {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  border-top: none;
  border-radius: 0px 10px 10px 10px;
  height: 60vh;
  width: 36vw;
  padding: 2%;
}