.labeledImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Atkins Hyperlegible', sans-serif;
  /* font-size: 25px; */
}

.labeledImageContainer:hover {
  cursor: pointer;
}

.projectImage {
  border: #EDF4ED solid 2px;
}

.descriptionContainer {
  overflow-y: scroll !important;
  max-height: 200px !important;
}

.duguidDescription {
  margin-bottom: 10px;
}